<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <div class="formContainer">
      <form id="searchTitle" action="/search/title" method="POST">
        <label for="title">Search Title</label>
        <input type="text" id="title" name="title" />
        <button type="submit">Search</button>
      </form>
      <form id="searchCategory" action="/search/category" method="POST">
        <label for="category">Search Category</label>
        <select name="category" id="category">
          <option selected disabled>Choose Category</option>
          <% categories.forEach(category => { %>
          <option value="<%= category%>"><%= category %></option>
          <% }); %>
        </select>
        <button type="submit">Search</button>
      </form>
      <div class="col-lg-8">
        <% if(typeof filteredPosts !== "undefined" && filteredPosts.length > 0)
        { %> <%- include("../partials/posts.ejs",{items: filteredPosts}) %> <% }
        else if(typeof filteredPosts !== "undefined" && filteredPosts.length <
        1) { %>
        <h6 class="display-6 text-lg-start text-center">
          Could not find anything!
        </h6>
        <% } %>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
